* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.carousel-container {
  position: relative;
  width: 600px;
  overflow: hidden;
  margin: 50px auto;
}

.carousel {
  display: flex;
  transition: transform 0.7s ease-in-out;
}

.carousel img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  transform: translateY(-50%);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Thumbnails styling */
.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  width: 100px;
  height: 70px;
  object-fit: cover;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.1);
  border: 2px solid #333;
}
